<p>@ConfirmationText</p>

<MudButton ButtonType="ButtonType.Button" OnClick="@ConfirmAction" Class="mr-4 mt-4">Confirm</MudButton>
<MudButton ButtonType="ButtonType.Button" OnClick="@Close" Class="mr-4 mt-4">Cancel</MudButton>
